{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": "last 2 versions,> 1%,ie >= 11"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
